@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');
@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{  
    --card-title-color:#22DDA2;
    --bg-gradient-color1:#6B3580;
    --bg-gradient-color2:#169970;
}

@property  --gradient-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

p{
    text-wrap: balance;
}
.team-header{
    border-color: transparent;
    position: relative;
    inset: 0;
    isolation: isolate;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.team-header:hover{
    border-color: #FF005C;
    border-right-width: 0.5rem;
    transform: 
    perspective(6000px)
    rotateY(90deg)
    rotateX(90deg)
    scale(1.2);
}

.team-card{
    background:hsl(273, 34%, 15%, 0.26);  
    border-color: transparent;
    position: relative;
    z-index: 1;
    inset: 0;
    isolation: isolate;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.team-card-back{
    z-index: -1;
    border-color: transparent;
    border-radius: inherit;
    display: grid;
    inset: 0;
    isolation: isolate;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -50;
        background-size:100% 100%;
        background-color: #169970;
    }  
}

.team-card:hover{
    border-color: #FF005C;
    border-right-width: 0.5rem;
    transform: 
    perspective(3000px)
    rotateY(-20deg)
    rotateX(0)
    scale(1.2);
    --card-title-color: #FF005C;

}

.team-card::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
    backdrop-filter: brightness(90%) blur(20px);
    -webkit-backdrop-filter: brightness(90%) blur(20px);
    -moz-backdrop-filter: brightness(90%) blur(20px);
    mask-image: repeating-radial-gradient(
      circle at 50% 50% center,
      var(--bg-gradient-color1),    
      var(--bg-gradient-color1) 20px,
      rgba(255, 255, 255, 0.3) 20.5px,
      rgba(255, 255, 255, 0.3) 21px
    );
    -webkit-mask-image: repeating-radial-gradient(
      circle at 50% 50%,
      var(--bg-gradient-color1),
      var(--bg-gradient-color1) 20px,
      rgba(255, 255, 255, 0.3) 20.5px,
      rgba(255, 255, 255, 0.3) 21px
    );
}

.card-title{
    color: var(--card-title-color);
    background-image: var(--card-title-bg);
    background-clip: text;
}

.bg-default{
    background:linear-gradient(to right,var(--bg-gradient-color1),var(--bg-gradient-color2));    
}
.grid-1{
    animation: grid-move 5s linear infinite ;
}
.grid-2{
    animation: grid-move 5s reverse infinite ;
}
.grid-3{
    animation: pulse 5s forwards infinite ;
}
.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:#00000062;
    display: flex; 
    align-items: center;
    justify-content: center;
}

footer::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 15px 15px;
    backdrop-filter: brightness(90%) blur(20px);
    -webkit-backdrop-filter: brightness(90%) blur(20px);
    -moz-backdrop-filter: brightness(90%) blur(20px);
    mask-image: repeating-radial-gradient(
      circle at 50% 50% center,
      var(--bg-gradient-color1),    
      var(--bg-gradient-color1) 20px,
      rgba(255, 255, 255, 0.3) 20.5px,
      rgba(255, 255, 255, 0.3) 21px
    );
    -webkit-mask-image: repeating-radial-gradient(
      circle at 50% 50%,
      var(--bg-gradient-color1),
      var(--bg-gradient-color1) 20px,
      rgba(255, 255, 255, 0.3) 20.5px,
      rgba(255, 255, 255, 0.3) 21px
    );
  }
  footer {
    background: hsl(273, 34%, 15%, 0.26);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    font-size: 14px;    
    line-height: 14px;
  }
.social-icon{
    padding-left: 1rem;
    padding: 1.6rem;
    scale: 2;
    position: relative;
}
.modal{
    width: clamp(50%,700px, 90%);
    height: min(50%, 300px);
    
    position: sticky;
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes pulse {
    0%{opacity: 0%;}
    25%{opacity: 35%;}
    100%{opacity: 0%;}
}
@keyframes grid-move {
    0%{
        opacity: 0%;
        transform: 
       
        translate3d(0,0,0);
    }
    25%{opacity: 35%;}
    100%{
        opacity: 0%;
        transform: 
        perspective(2000px)
        rotateX(5deg)
        scale(1.2)
        translate3d(50px,20px,0);
    }
}
@keyframes gradient-rotation {
    0%{
        --gradient-angle: 0deg;
    }
    100%{
        --gradient-angle:360deg;
    }
}