@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');
@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{  
    --bg-gradient-color1:#040011;
    --bg-gradient-color2:#191F29;
}


p{
    text-wrap: balance;
}
html{
    height: 100%;
}
.bg-default{
    background:linear-gradient(var(--bg-gradient-color1),var(--bg-gradient-color2));    
}
